/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

/* Columna negra */
.black-column {
    background-color: #3a3a3a;
    width: 15%; 
    height: 100%; /* 100% del tamaño de la página */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Cuadros de colores */
.color-boxes {
    width: 85%; /* 80% del total del tamaño de la página */
    height: 100%; /* 100% del tamaño de la página */
    float: right; /* Para que los cuadros de colores estén al lado de la columna negra */
}

.color-box {
    width: 100%; /* Ocupa todo el ancho de su contenedor */
    height: 25%; /* 25% del total del tamaño de la página */
    box-sizing: border-box;
    float: left; /* Alinea los cuadros de colores en horizontal */
}

/* Estilos para el texto en las cajas */
.black-column h2 {
    color: white; /* Color del texto en los encabezados */
    text-align: center;
}
.color-box h2 {
    color: white; /* Color del texto en los encabezados */
    text-align: center;
}

.color-box p {
    color: rgb(255, 255, 255); /* Color del texto en los párrafos */
    text-align: left;
}
.black-column ul {
    list-style: none;
    padding: 0;
}

.black-column li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white; /* Color inicial del texto */
}

.black-column li a:hover {
    color: lightgrey; /* Cambia el color del texto al pasar el ratón */
}